<div class="bottom-nav">
        <div class="nav-item active-nav" onclick="switchPage('pageDaftar', this)">
            <div class="nav-icon-wrap">👤</div>
            <div class="nav-label">PENDAFTARAN</div>
        </div>
        <div class="nav-item" onclick="switchPage('pageHariIni', this)">
            <div class="nav-icon-wrap">📅</div>
            <div class="nav-label">KUNJUNGAN</div>
        </div>
        <div class="nav-item" onclick="switchPage('pageUser', this)">
            <div class="nav-icon-wrap">⚙️</div>
            <div class="nav-label">USER</div>
        </div>
    </div>